import requests as req
from bs4 import BeautifulSoup

r=req.get('https://www.books.com.tw/web/annual100_cat/01')
soup=BeautifulSoup(r.text, 'html.parser')

attr={'class':'price'}
price_tags=soup.find_all('li',attrs=attr)
prices=[]

for tag in price_tags:
  t=tag.get_text()
  index_a=t.find('價')
  index_b=t.find('元')
  price_str=t[index_a+1:index_b]
  prices.append(int(price_str))

prices=prices[0:100]
print(prices)

import matplotlib.pyplot as plt

num=range(1,101)
width=0.35
plt.bar(num,prices,width)
plt.show